<ion-view view-title="Friends">
  <ion-content class="padding">
    <ion item class="list card" ng-repeat="friend in list">
<!-- 		<button class = "button button-block button-positive" ng-click = "follow($index, profile.$id)">Add Friend</button>
      <div class="item item-avatar">
        <h2>{{profile.name}}</h2>

      </div> -->

        <div class="item item-button-right">
      		{{friend.name}}
   			<button class="button button-positive" ng-click = "follow($index, profile.$id)">
      			<i class="icon ion-navicon-round"></i>
    		</button>
 		</div>


    </ion-item>
  </ion-content>
</ion-view>