<ion-view view-title="Search Friends">
  <ion-content class="padding">
    <form name="login" ng-model="user" ng-submit="button(user)">
      <label class="item item-input loginForm">
        <i class ="ion-android-person"></i>
        <input class="loginInput" type="text" ng-model="user.name" placeholder="Username">
      </label>
      <label class="item item-input loginForm">
        <i class = "ion-email"></i>
        <input class="loginInput" type="text" ng-model="user.email" placeholder="Email">
      </label>
      <label class="item item-input loginForm">
        <i class = "ion-unlocked"></i>
        <input class="loginInput" type="password" ng-model="user.password" placeholder="Password">
      </label>
    </form>



      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search Friends">
        </label>
      </div>

      
    <ion item class="list card" ng-repeat="profile in profiles">
<!-- 		<button class = "button button-block button-positive" ng-click = "follow($index, profile.$id)">Add Friend</button>
      <div class="item item-avatar">
        <h2>{{profile.name}}</h2>

      </div> -->

        <div class="item item-button-right">
      		{{profile.name}}
   			<button class="button button-positive" ng-click = "follow($index, profile.$id)">
      			<i class="icon ion-person-add"></i>
    		</button>
 		</div>


    </ion-item>
  </ion-content>
</ion-view>
