<!-- <ion-view view-title="Login">
  <ion-content class="padding" style= "background-color:lightsalmon">
    <div class="buffer" style="height: 160px"></div>

    <h1 align="center" style="color:#ffffff">iWanna</h1>
    <div class="row">
      <div class="col col-33 col-offset-33">
        <button style="width: 70%; background-color:transparent; border: 1px white solid" ng-click="emailLogin()">
          <i style="font-size: 50px"class="ion-ios-email-outline"></i>
        </button>

      </div>
    </div>
  </ion-content>
</ion-view> -->

<ion-view view-title="Login">
  <ion-content class = "landing">
  <div class="buffer" style="height: 50px"></div>
    <h1 align="center" style="color:#ffffff">iWanna</h1>
    <div class = "facebook">
      <button class = "button button-positive email-button" ng-click= "emailLogin()">
        <i class = "ion-ios-email-outline big"></i> Login with Email
      </button>
    </div>
  </ion-content>
</ion-view>
